html {
    font-size: x-large;
}

body {
    margin: 0px;
    background-color: black;
}

#container {
    display: flex;
    justify-content: center;
}

/*
--------------------------------------------------------------------------------------------------------------
*/

#left-half {
    /* background-color: black; */
    width:50%;
    height: 100svh;
    /* border: solid 1px green; */
}

#cat {
    position: relative;
    width: 100%;
    height: 100%;
    /* border: solid 1px red */
}

#img-source {
    position: absolute;
    align-self: center;
    z-index: 1;
    left:30%;
    bottom: 0px;
    color:white;
    font-size:medium;
    /* border: solid 1px blue */
}

/*
--------------------------------------------------------------------------------------------------------------
*/

#right-half {
    background-color: lightgray;
    width:30%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
}

/*
--------------------------------------------------------------------------------------------------------------
*/

#intro {
    margin-top: 10svh;
    width: 100%;
    height: fit-content;
    /* border:solid 1px red; */
}

#intro-1, #intro-2, #insp, #name-of-website {
    margin-left: 20px;
    margin-right: 20px;
    color: black;
    /* border: solid 1px red; */
}

#name-of-website {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/*
--------------------------------------------------------------------------------------------------------------
*/

#signup {
    display: flex;
    flex-direction: column;
    /* border: red 1px solid; */
}

#sign-up-container {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    padding: 10px;
    /* background-color: pink; */
}

#first-name, #last-name, #email, #phone-number, #password, #confirm-password {
    display: flex;
    flex-grow: 1;
    /* background-color: yellowgreen; */
}

#user-first-name, #user-last-name, #user-email, #user-phone-number, #user-password, #user-confirm-password {
    margin: 2px;
    padding: 7px;
    border-radius: 5px;
    border: solid 1px black;
    flex-grow: 1;
    font-size: 70%;
}

/*
--------------------------------------------------------------------------------------------------------------
*/

#login {
    /*background-color: lightpink;*/
    margin-top: 2svh;
    width: 100%;
    height: fit-content;
    /* border: solid 1px red; */
}

#create-account {
    margin-left: 20px;
    background-color: black;
    color: white;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    font-size: large;
    border: 0;
    border-radius: 10px;
}

#create-account:hover {
    cursor: pointer;
}

#already-own-account {
    margin-left: 20px;
    margin-right: 20px;
    color: black;
}

#already-own-account-login {
    color: black;
    text-decoration: underline;
}

#already-own-account-login:hover {
    cursor: pointer;
}
